* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: #404042;
  text-align: center;
}

h1 {
  color: #dd1972;
  font-weight: 300;
  letter-spacing: -.001em;
  font-size: 3.9em;
  text-transform: uppercase;
  padding: 0.2em 0 0 0;
}

h1 span {
  font-weight: 700;
}
header p {
  color: #ffffff;
  text-transform: uppercase;
  word-spacing: .25em;
  font-weight: 300;
  padding: 0px 0 1.1em 0;
}

.subhead {
  line-height: 0.5;
  text-align: center;
  padding-top: 0.4em;
}

.subhead span {
  display: inline-block;
  position: relative;
}

.subhead span:before,
.subhead span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100px;
}

.subhead span:before {
  right: 100%;
  margin-right: 15px;
}

.subhead span:after {
  left: 100%;
  margin-left: 15px;
}
main {
  display: flex;
}
.user-input-sec {
    width: 53%;
    background-color: #f7f7f7;
}

.set-range-art {
  width: 100%;

}
.set-range-art h5 {
  font-size: 1em;
  font-weight: 700;
  color: #404042;

}
form.set-range-f {
  border: 0.1em solid #D0D2d3;
  padding: 0 0 0 .5em;
  margin: 0.3em 1.9px 1.9px 1.9px;
  background-color: #ffffff;
}
.set-range-h {
  display: block;
  padding: 0.7em 0 0.1em 0;
}
.min-range-l, .max-range-l {
  font-weight: 300;
  font-size: 0.8em;
}
input {
  border: 0.15em solid #D0D2d3;
  border-radius: 1.8px;
  width: 11.9em;
  height: 2em;
}
button {
  color: #ffffff;
  background-color: #6e6e6e;
  font-size: 0.7em;
  border-radius: 1.1em;
  padding: 0.2em 1.15em;
  text-transform: uppercase;
  margin: 0.9em;
}
button:hover {
  background-color: #dd1972;
}
button .reset-game {
  background-color: #ffffff;
}
@media  (max-width: 812px) {
  header {
    width: 812px;
  }
}
