/* GENERAL PAGE STYLES */

* {
  margin: 0;
  padding: 0;
}
.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* END GERNERAL PAGE STYLES

HEADER SUBHEAD STYLES */

header {
  background-color: #404042;
  text-align: center;
  font-family: 'Open Sans', sans-serif;;
}

h1 {
  color: #dd1972;
  font-weight: 300;
  font-size: 3.9em;
  letter-spacing: -.001em;
  padding: 0.2em 0 0 0;
  text-transform: uppercase;
}

h1 span {
  font-weight: 700;
}

header p {
  color: #ffffff;
  font-weight: 300;
  padding: 0px 0 1.1em 0;
  text-transform: uppercase;
  word-spacing: .25em;
}
form {
  font-size: 1em;
}

.subhead {
  padding-top: 0.4em;
  line-height: 0.5;
  text-align: center;
}

.subhead span {
  display: inline-block;
  position: relative;
}

.subhead span:before,
.subhead span:after {
  border-bottom: 1px solid white;
  content: "";
  position: absolute;
  height: 5px;
  top: 0;
  width: 100px;
}

.subhead span:before {
  margin-right: 15px;
  right: 100%;
}

.subhead span:after {
  left: 100%;
  margin-left: 15px;
}

/* END HEADER SUBHEAD STYLES

MAIN SECTION STYLES */

main {
  display: flex;
}

input {
  border: 0.15em solid #D0D2d3;
  border-radius: 1.8px;
  height: 1.8em;
  margin: 0 0.1em;
  padding: 0 -0.5em 0 0;
  font-size: 1.5em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  padding-left: 1px;
  -webkit-appearance: none;
}

input[type=text] {
  padding-left: 1px;
}

button {
  background-color: #6e6e6e;
  border-radius: 1.1em;
  border: 0;
  color: #ffffff;
  font-size: 1.3em;
  text-transform: uppercase;
  margin: 0.6em;
  padding: 0.4em 1em;
}

button:hover {
  background-color: #dd1972;
}

button.reset-game {
  background-color: #ffffff;
}

/* END MAIN SECTION STYLES

USER INPUT SECTION */


.user-input-sec {
  width: 50%;
  background-color: #f7f7f7;
  border-right: .25em solid #6e6e6e;
}

/* SET RANGE STYLES */
form.set-range-f {
  background-color: #ffffff;
  border: 0.1em solid #D0D2d3;
  padding: 1em 0 0.5em 0.9em;
}

.set-range-art {
  margin: auto;
  padding: 0 0 1em;
  width: 95%;
  margin-top: 1em;
}

.set-range-art h5 {
  color: #404042;
  font-size: 1.3em;
  font-weight: 700;
  margin-left: 0.3em;
}

.min-range-div {
  display: inline-block;
}

.error-min-range-div, .error-max-range-div {
  align-items: baseline;
  display: flex;
}

.error-img-min-range, .error-img-max-range {
  display: flex;
  height: 1.2em;
  width: 1.2em;
}

.error-img-min-range {
  margin: .3em 0 0 .4em;
}

.error-img-max-range {
  margin: .3em 0 0 2em;
}

.error-msg {
  color: #DD1972;
  display: flex;
  margin: 0 0 0 .2em;
}

.max-range-div {
  display: inline-block;
}


.set-range-h {
  display: block;
  padding: 0.7em 0 0.1em 0;
}

.min-range-l,
.max-range-l {
  font-weight: 300;
  display: block;
  padding: 0.5em 0 .1em 0;
  font-size: 1.2em;
  margin-left: 0.2em;
}
.max-range-l {
  padding-left: 1.1em;
}
/* USER INPUT ART SECTION */
.user-input-art {
  border: 0.1em solid #D0D2d3;
  margin: auto;
  padding: 0;
  width: 94.4%;
  margin-bottom: 1em;
  background-color: #ffffff;
}

p span.users-min-range,
p span.users-max-range  {
  color: #525252;
  font-weight: 900;
  text-decoration: underline;
}

form.user1-input-f,
form.user2-input-f {
  font-weight: 300;
}
.user1-input-f,
.user2-input-f {
  font-size: 1em;
}
.user-input-art p {
  color: gray;
  font-size: 1.25em;
  padding: .5em 0 0 .9em;
}

.user1-h5,
.user2-h {
  font-size: 1.4em;
  padding: 1em 0 .5em .9em;
}

.name1-guess1,
.name2-guess2 {
  font-size: 1.2em;
  width: 60%;
  float: left;
}

.user1-guess-l-in,
.user2-guess-l-in {
  font-size: 1.2em;
  float: right;
  width: 38%;
}

.user2-h {
  margin-top: 5em;
}

.min-range-in,
.max-range-in {
  padding: 0;
}

.max-range-in {
  margin-left: 1em;
}

.user1-name-l,
.user2-name-l {
  margin: 0 5.2em 0.3em 1.1em;
  display: block;
}

.user1-guess-l,
.user2-guess-l {
  margin: 0 0 0.3em 0.2em;
  display: block;
}

.user1-name-in,
.user2-name-in {
  margin: 0 0 0 0.6em;
  width: 93%;
}

.user1-guess-in,
.user2-guess-in {
  padding-left: 0;
  width: 89%;
}

.error-name1-div, .error-name2-div, .error-guess1-div, .error-guess2-div {
  align-items: baseline;
  display: flex;
}

.error-img-name1, .error-img-name2 {
  display: flex;
  height: 1.2em;
  margin: .3em 0 0 1em;
  width: 1.2em;
}

.error-img-guess1, .error-img-guess2 {
  display: flex;
  height: 1.2em;
  margin: .3em 0 0 .4em;
  width: 1.2em;
}

.game-controls {
  margin: 7em 0 1em 2em;
}

.user1-score-out-num1,
.user2-score-out-num1 {
  color: #f74d9b;
  font-family: "Open Sans", sans-serif;
  font-size: 5.9em;
  font-weight: 700;
}


/* LATEST SCORE SECTION */

.latest-score-h5 {
  margin: 0.7em 0px 0.6em 0.6em;
  font-size: 1.3em;
  color: #6e6e6e;
  font-weight: 700;
}

.user-guess-output-art {
  border: 0.1em solid #D0D2d3;
  margin: auto;
  padding-bottom: 1em;
  width: 94.2%;
}

.user1-name-p-guess-out,
.user2-name-p-guess-out {
  font-size: 1.3em;
  color: #6e6e6e;
  font-weight: 700;
}
.user1-current-guess,
.user2-current-guess {
  font-size: 1.3em;
  font-weight: 100;
  color: #D0D2D3;
}
.user1-guess-feedback-p,
.user2-guess-feedback-p {
  font-size: 1.6em;
  font-weight: 100;
  color: #D0D2D3;
}
.hidden {
  display: none;
}

.user1-output {
  border-right: 1px solid #D0D2D3;
  padding-right: 1em;

}

.user2-output {
  padding-left: 1em;
}

.user1-output,
.user2-output {
  text-align: center;
  display: inline-grid;
  width: 47.1%;
}

.error {

  border: 1px solid #f74d9b;
}

.clear-game-but {
  background-color: #D0D2D3;
}

/* GAME RESULTS SECTION */

.game-results-sec {
  align-items: center;
  background-color: #D1D2D4;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.winnercard-art {
  background-color: #FFFFFF;
  border: 2px #6e6e6e solid;
  display: flex;
  flex-direction: column;
  margin: 1em 0 0 0;
  text-transform: uppercase;
  width: 90%;
}

.user1-vs-user2-p-winnercard {
  align-items: center;
  color: #6e6e6e;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: 700;
  justify-content: center;
  margin: .8em 0 .8em 0;

}

.vs {
  display: flex;
  font-size: .8em;
  font-weight: 300;
  margin: 0 2.5em;
}

hr {
  border: 1px solid;
  color: #D0D2d3;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

.winner-name-h3 {
  color: #6e6e6e;
  display: flex;
  justify-content: center;
  margin: .6em 0 0 0;
  font-size: 2.5em;
  text-transform: uppercase;
}

.winner-title {
  color: grey;
  display: flex;
  font-weight: 300;
  font-size: 2.5em;
  justify-content: center;
  margin: 0 0 .6em 0;
}

.gamefacts-deletebut-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6vh;
}

.delete-winnercard-but {
  border-radius: 50%;
  font-size: 1em;
  height: 25px;
  padding: 0;
  text-align: center;
  width: 25px;
}

.winner-total-guesses-p, .win-time-p {
  align-items: center;
  display: flex;
  color: grey;
  font-size: 1.2em;
  font-weight: 300;
}

.winner-total-guesses-p span, .win-time-p span {
  color: #6e6e6e;
  font-weight: bold;
  margin: .3em;
}

.winner-total-guesses-p, .winner-total-guesses-p span {
}

.win-time-p, .win-time span {
}

/* ############# MOBLE STYLES ############# */

@media only screen and (min-width: 320px) and (max-width: 480px){

header {
  margin: 0 0 0 -8px;
  width: 103%;
}

h1 {
  font-size: 2em;
  margin-left: 0.5em;
}

header p {
  font-size: 0.9em;
}

.subhead {
  font-size: 0.8em;
  margin-left: 1.2em;
}

.subhead span:before, .subhead span:after {
  border-bottom: 1px solid white;
  content: "";
  position: absolute;
  height: 5px;
  top: 0;
  width: 33px;
}

.subhead span:before {
  margin-right: 6px;
  right: 100%;
}

.subhead span:after {
  margin-left: 6px;
  left: 100%;
}
main {
  display: flex;
  flex-direction: column;
}

.min-range-in,
.max-range-in {
  margin: 0;
  padding: 0;
  width: 109%;
}

.user1-guess-in,
.user2-guess-in {
margin-left: 0;
}

.user1-name-in,
.user2-name-in,
.user1-guess-in
.user2-guess-in {
margin: 0;
margin-left: 0;
padding: 0;
width: 0;
}

.user-input-sec {
  border: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user1-guess-l,
.user2-guess-l {
margin: 0 0 0 1.2em;
padding-left: 0;
}

.game-controls {
display: block;
text-align: center;
margin: 0 0.5em 0 .1em;
}
.game-results-sec {
}

.max-range-in {
  margin: 0;
}
button {
  margin: 0.7em 0 0.5em 0em;
  width: 94.2%;
}
.max-range-l {
  padding-left: 0;
}

.winnercard-art {
  width: 94%;
  margin-bottom: 1em;
}
}

/* 1116px moble screen  */

@media  only screen and (min-width: 811px) (max-width: 1116px) {
.user-input-sec {

}
.user1-guess-l,
.user2-guess-l {
  margin: 0 5.2em 0 1.2em;
  padding-left: 0;
}
.user1-name-l,
.user2-name-l {
  margin: 0 5.2em 0 1.2em;
  display: block;
}
.max-range-l {
  padding-left: 0;
}
.max-range-in {
  margin-left: 0;
}
.user-input-art {

}
form.user1-input-f, form.user2-input-f {

}
button {
  width: 95%;
}

.user1-output, .user2-output {
  text-align: center;
  width: 95%;
  display: flex;
  flex-direction: column;
}
